.root {
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--c-border);
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
}

.finderIcon {
  position: absolute;
  right: 1.5vmin;
  top: 1.5vmin;
  width: 3vmin;
  height: 3vmin;
  background-color: var(--c-p);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.7vmin;
  font-weight: bold;
}

.tagIcon {
  color: var(--c-bkg);
  font-size: 10vmin;
  opacity: 0.5;
}

.loadingIndicator {
  position: absolute;
  background-color: var(--c-primary);
  height: 5%;
  left: 0;
  bottom: 0;
}
