.root {
  font-size: 5vmin;
  line-height: 1;
}

.isActive {
  font-weight: bold;
  transform: scale(1.4);
  transform-origin: 0 0;
  transition: transform 200ms;
}

.name {
  margin-right: var(--spacing-half);
  display: block;
}

.points {
  display: block;
  margin-top: 0.4em;
  line-height: 1;
  min-height: 1em;
}

.root:last-child {
  &.isActive {
    transform-origin: 100% 0;
  }

  .name {
    margin-right: 0;
  }

  .points {
    text-align: right;
  }
}
